
RNotebooks/.DS_Store
.DS_Store
RNotebooks/06_Notebook_Exploratory_Data_Prices/.Rhistory
RNotebooks/06_Notebook_Exploratory_Data/.Rhistory
Tarea/02_Tarea_FinanceData_Preprocessing/.Rhistory
RNotebooks/09_Notebook_Analisis_Texto-Strings/.Rhistory
